:host {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
}
:host,
img.bg-img {
    right: 0;
    left: 0;
}
img.bg-img {
    position: absolute;
    width: 100%;
    top: -25%;
    bottom: -25%;
}
