<div class="album-title-wrap padding-1">
    <p>Lo Wolf</p>
    <p>
        {{album?.title}}
        <em>({{album?.year}})</em>
    </p>
</div>
<div class="padding-1">
    <lo-image
        [src]="album?.coverUrl"
        [alt]="album?.title + ' Cover'"
    ></lo-image>
</div>
<div class="padding-1">
    <div class="album-links">
        <div class="flex-space-between">
            <div>
                <img
                    src="assets/images/logos/bandcamp.png"
                    alt="Bandcamp Logo"
                >
                <span>Bandcamp</span>
            </div>
            <a
                [routerLink]="'/'"
                class="lo-btn"
            >
                Buy/Listen
                <fa-icon
                    class="slide-in-right"
                    [icon]="'chevron-right'"
                ></fa-icon>
            </a>
        </div>
        <div class="flex-space-between">
            <div>
                <img
                    src="assets/images/logos/spotify.png"
                    alt="Spotify Logo"
                >
                <span>Spotify</span>
            </div>
            <a
                [routerLink]="'/'"
                class="lo-btn"
            >
                Buy/Listen
                <fa-icon
                    class="slide-in-right"
                    [icon]="'chevron-right'"
                ></fa-icon>
            </a>
        </div>
        <div class="flex-space-between">
            <div>
                <img
                    src="assets/images/logos/itunes.png"
                    alt="Itunes Logo"
                >
                <span>Itunes</span>
            </div>
            <a
                [routerLink]="'/'"
                class="lo-btn"
            >
                Buy/Listen
                <fa-icon
                    class="slide-in-right"
                    [icon]="'chevron-right'"
                ></fa-icon>
            </a>
        </div>
        <div class="flex-space-between">
            <div>
                <fa-icon [icon]="'shopping-cart'"></fa-icon>
                <span>Lo Wolf Store</span>
            </div>
            <a
                [routerLink]="'/'"
                class="lo-btn"
            >
                Buy/Listen
                <fa-icon
                    class="slide-in-right"
                    [icon]="'chevron-right'"
                ></fa-icon>
            </a>
        </div>
    </div>
</div>
