<section class="bio-section">
    <div class="bio-wrap max-width-container">
        <p class="bio">
            Lo Wolf writes and performs from her Asheville, NC home. Her latest recording, Country Pop Hit, has been called "equal parts timeless and modern" and she infuses poetry, praise, and grit into her original compositions. She is a classically trained harpist gone folk singer, so yankee she's southern, and very happy to be here.
        </p>
    </div>
</section>
<section class="reviews-section">
    <div class="review-carousel-wrap max-width-container">
        <lo-carousel [context]="reviews">
            <ng-template
                #CarouselItemTemplate
                let-review
            >
                <div class="review-wrap">
                    <fa-icon [icon]="'quote-left'"></fa-icon>
                    <p class="review-content">{{review.content}}</p>
                    <p class="review-author">
                        <em>-{{review.author}}</em>
                    </p>
                </div>
            </ng-template>
        </lo-carousel>
    </div>
</section>
