<section class="bio-section">
    <div class="bio-section-bg"></div>
    <div class="bio-wrap max-width-container">
        <p class="bio">
            Lo Wolf writes and performs from her Asheville, NC home. Her latest recording, Country Pop Hit, has been called "equal parts timeless and modern" and she infuses poetry, praise, and grit into her original compositions. She is a classically trained harpist gone folk singer, so yankee she's southern, and very happy to be here.
        </p>
    </div>
</section>
<section class="press-section">
    <div
        id="press"
        class="scroll-mark"
    ></div>
    <h2 class="section-title">Press</h2>
    <div class="reviews-wrap max-width-container">
        <div
            *ngFor="let review of reviews"
            class="review-wrap lo-card"
        >
            <fa-icon [icon]="'quote-left'"></fa-icon>
            <img
                class="review-img"
                *ngIf="review.imgUrl"
                src="{{review.imgUrl}}"
                alt={{review.author}}
            >
            <p class="review-content">{{review.content}}</p>
            <p class="review-author">
                <em>-{{review.author}}</em>
            </p>
            <a
                *ngIf="review.link"
                href="{{review.link}}"
                class="lo-btn lo-btn-sm"
            >
                Full Article
            </a>
            <div style="clear:both"></div>
        </div>
    </div>
</section>
