<section class="bio-section">
    <div class="bio-wrap max-width-container">
        <p class="bio">
            Lo Wolf writes and performs from her Asheville, NC home. Her latest recording, Country Pop Hit, has been called "equal parts timeless and modern" and she infuses poetry, praise, and grit into her original compositions. She is a classically trained harpist gone folk singer, so yankee she's southern, and very happy to be here.
        </p>
    </div>
</section>
<lo-carousel>
    <ng-template
        #CarouselItem
        let-review
    >
        <span>{{review.author}}</span>
    </ng-template>
</lo-carousel>
