@import '_variables';
:host {
    display: block;
    background-color: $white;
}
.landing-section {
    overflow: hidden;
    position: relative;
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../../../assets/images/lo_paisley.png);
    background-size: cover;
    background-attachment: fixed;
}
.landing-cta {
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 800;
    margin-right: 15%;
}
h3.landing-album-name {
    margin: -0.5rem 0 0.5rem 0;
}
img.landing-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 1000px;
}

section.videos-section {
    padding: 3rem 0;
    position: relative;
}
div.video-slider-wrap {
    text-align: center;
}

section.music-section {
    padding: 3rem 0;
    background-image: url(../../../assets/images/laura-laura-2.jpg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    position: relative;
}
div.albums-grid-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: start;
    column-gap: 4rem;
    row-gap: 4rem;
}
img.album-cover-img {
    width: 100%;
}
div.album-title-wrap {
    text-align: center;
    padding: 0.25rem 0;
}
div.album-title {
    font-size: 1.2rem;
}

section.shows-section {
    padding: 3rem 0;
    // background-image: url(../../../assets/images/lo-busk.jpg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    >div.max-width-container {
        position: relative;
        z-index: 800;
    }
}

section.signup-section {
    padding: 4rem 0 6rem 0;
    position: relative;
    >div.max-width-container {
        position: relative;
        z-index: 800;
    }
}
img.signup-bg {
    position: absolute;
    top: -30%;
    left: -15%;
    width: 100%;
    z-index: 200;
}
a.hidden-tag {
    display: none;
}
