<section class="landing-section">
    <div class="landing-wrap-inner">
        <div class="landing-intro">
            <div class="landing-cta">
                <h1 class="landing-title">Lo Wolf</h1>
                <h3 class="landing-album-name">Country Pop Hit EP Available Now</h3>
                <button class="lo-btn-outline">Buy/Listen</button>
            </div>
        </div>
    </div>
    <img
        class="landing-bg"
        src="assets/images/lo_paisley.png"
        alt="Lo Paisley"
    >
</section>
<section class="videos-section">
    <div
        id="videos-section"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Videos</h2>
        <div class="width-85 video-slider-wrap">
            <lo-video-slider [slides]="videoUrls"></lo-video-slider>
            <button
                class="more-videos-btn"
                [routerLink]="'videos'"
            >
                More Videos
            </button>
        </div>
    </div>
</section>
<section class="music-section">
    <div
        id="music-section"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Music</h2>
        <div class="albums-grid-wrap width-85">
            <span
                *ngFor="let album of albums"
                class="album-wrap"
            >
                <div class="album-title-wrap">
                    <div class="album-title">{{album.title}}</div>
                    <div class="album-year">
                        <em>{{album.year}}</em>
                    </div>
                </div>
                <a [routerLink]="'albums/' + album.id">
                    <img
                        class="album-cover-img"
                        src="{{album.coverUrl}}"
                        alt="{{album.title}}"
                    >
                </a>
                <button class="lo-btn-sm lo-btn-full-width">Buy/Listen</button>
            </span>
        </div>
    </div>
</section>
<section class="shows-section">
    <div
        id="shows-section"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Shows</h2>
        <div class="shows-calendar-wrap width-85">
            <lo-shows></lo-shows>
        </div>
    </div>
</section>
<section class="signup-section">
    <div class="max-width-container">
        <div class="signup-form-wrap width-85">
            <lo-signup-form></lo-signup-form>
        </div>
    </div>
    <img
        class="signup-bg"
        src="assets/images/paisley2_yellow.png"
        alt="Lo Paisley"
    >
</section>
<ng-container #PopupContainer></ng-container>
