<section class="landing-section">
    <div class="landing-section-inner section-max-width-container">
        <div class="landing-cta-wrap">
            <div class="landing-cta-inner">
                <h1 class="landing-title">Lo Wolf</h1>
                <h3 class="landing-album-name">
                    New Album
                    <em>Singe</em>
                    Available Now
                </h3>
                <a
                    href="https://lowolf.bandcamp.com/"
                    class="lo-btn lo-btn-outline lo-btn-sm lo-btn-full-width"
                >
                    Buy/Listen
                </a>
                <a
                    href="https://www.paypal.me/lowolfmusic"
                    class="lo-btn lo-btn-sm lo-btn-full-width"
                >
                    Donate
                </a>
            </div>
        </div>
        <img
            class="landing-bg-img"
            src="assets/images/lo_paisley.png"
            alt="Lo Wolf Paisley"
        >
    </div>
</section>
<section class="videos-section">
    <div
        id="videos"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Videos</h2>
        <div class="width-85 video-slider-wrap">
            <lo-video-slider [slides]="videoUrls"></lo-video-slider>
            <button
                class="more-videos-btn"
                [routerLink]="'videos'"
            >
                All Videos
            </button>
        </div>
    </div>
</section>
<section class="music-section">
    <div
        id="music"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Music</h2>
        <div class="albums-wrap width-85">
            <div
                *ngFor="let album of albums"
                class="album-wrap"
            >
                <span class="album-title">
                    {{album.title}}
                    <em>({{album.year}})</em>
                </span>
                <a [routerLink]="'albums/' + album.id">
                    <img
                        class="album-cover-img"
                        src="{{album.coverUrl}}"
                        alt="{{album.title}}"
                    >
                </a>
                <a
                    href="https://lowolf.bandcamp.com/"
                    class="lo-btn lo-btn-sm lo-btn-full-width"
                >
                    Buy/Listen
                </a>
            </div>
        </div>
    </div>
</section>
<section class="events-signup-section">
    <div
        id="events"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <div class="events-wrap">
            <h2 class="section-title">Events</h2>
            <div class="events-calendar-wrap width-85">
                <lo-events (infoClick)="modalOpen=true"></lo-events>
            </div>
        </div>
        <div class="signup-wrap">
            <div class="signup-form-wrap width-85">
                <lo-signup-form></lo-signup-form>
            </div>
        </div>
        <img
            class="paisley-bg"
            src="assets/images/paisley2_yellow.png"
            alt="paisley"
        >
    </div>
</section>
<lo-social-nav [class.visible]="socialNavVisible"></lo-social-nav>
<ng-container #PopupContainer></ng-container>
<div
    *ngIf="modalOpen"
    class="info-modal fade-in"
    (click)="modalOpen = false"
>
    <div
        class="info-modal-content lo-card"
        (click)="$event.stopPropagation()"
    >
        <p>
            Throughout the COVID-19 pandemic, Lo will be live streaming a full set on the 20th of every month for viewers on a donation basis. To receive a link on the day of the show, please make a donation and add your name to the list using the signup form below.
        </p>
        <a
            class="lo-btn"
            target="_blank"
            href="https://www.paypal.me/lowolfmusic"
        >
            Donate to Lo Wolf
        </a>
    </div>
</div>
<div class="page-bg-fixed music-section-bg"></div>
