@import '_variables';
:host {
    display: block;
    background-color: $white;
}
section.landing-section {
    background-color: $light;
}
div.landing-section-inner {
    position: relative;
}
img.landing-bg-img {
    transition: all 0.3s ease;
    width: 100%;
    max-height: 767px;
}
div.landing-cta-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    z-index: 800;
    transition: all 0.3s ease;
    padding: 0 2rem;
}
div.landing-cta-inner {
    text-align: center;
    transition: all 0.3s ease;
    margin-right: 12%;
}
h3.landing-album-name {
    margin: -0.5rem 0 0.5rem 0;
}
img.landing-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

section.videos-section {
    padding: 3rem 0;
    position: relative;
}
div.video-slider-wrap {
    text-align: center;
}

section.music-section {
    padding: 3rem 0;
    background-image: url(../../../assets/images/laura-laura.jpg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    position: relative;
}
div.albums-grid-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: start;
    column-gap: 4rem;
    row-gap: 4rem;
}
img.album-cover-img {
    width: 100%;
}
div.album-title-wrap {
    text-align: center;
    padding: 0.25rem 0;
}
div.album-title {
    font-size: 1.2rem;
}

section.shows-section {
    padding: 3rem 0;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    >div.max-width-container {
        position: relative;
        z-index: 800;
    }
}
section.signup-section {
    padding: 4rem 0 6rem 0;
    position: relative;
    >div.max-width-container {
        position: relative;
        z-index: 800;
    }
}
img.signup-bg {
    position: absolute;
    top: -30%;
    left: -15%;
    width: 100%;
    z-index: 200;
    opacity: 0.7;
    max-height: 767px;
}
a.hidden-tag {
    display: none;
}
@media only screen and (max-width: 1024px) {
    img.landing-bg-img {
        height: 100vh;
        width: auto;
    }
    div.landing-cta-inner {
        margin-right: 0;
        background-color: rgba(#fff, 0.85);
        padding: 2rem;
        border-radius: 3px;
    }
    div.landing-cta-wrap {
        justify-content: center;
    }
}
@media only screen and (min-width: 767px) {
    img.landing-bg-img,
    img.signup-bg {
        width: auto;
    }
}
@media only screen and (max-width: 767px) {
    h1.landing-title {
        font-size: 5.5rem;
    }
    h3.landing-album-name {
        font-size: 1.4rem
    }
    img.landing-bg-img {
        height: 100vh;
        width: auto;
        transform: translate(-20%, 0);
    }
}

