<section class="landing-section">
    <div class="landing-section-inner section-max-width-container">
        <div class="landing-cta-wrap">
            <div class="landing-cta-inner">
                <h1 class="landing-title">Lo Wolf</h1>
                <h3 class="landing-album-name">
                    New Album
                    <em>Singe</em>
                    Available Now
                </h3>
                <button class="lo-btn-outline lo-btn-sm lo-btn-full-width">Buy/Listen</button>
                <button class="lo-btn-sm lo-btn-full-width">Donate</button>
            </div>
        </div>
        <img
            class="landing-bg-img"
            src="assets/images/lo_paisley.png"
            alt="Lo Wolf Paisley"
        >
    </div>
</section>
<section class="videos-section">
    <div
        id="videos"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Videos</h2>
        <div class="width-85 video-slider-wrap">
            <lo-video-slider [slides]="videoUrls"></lo-video-slider>
            <button
                class="more-videos-btn"
                [routerLink]="'videos'"
            >
                All Videos
            </button>
        </div>
    </div>
</section>
<section class="music-section">
    <div
        id="music"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Music</h2>
        <div class="albums-wrap width-85">
            <div
                *ngFor="let album of albums"
                class="album-wrap"
            >
                <div class="album-title-wrap">
                    <div class="album-title">{{album.title}}</div>
                    <div class="album-year">
                        <em>{{album.year}}</em>
                    </div>
                </div>
                <a [routerLink]="'albums/' + album.id">
                    <img
                        class="album-cover-img"
                        src="{{album.coverUrl}}"
                        alt="{{album.title}}"
                    >
                </a>
                <button class="lo-btn-sm lo-btn-full-width">Buy/Listen</button>
            </div>
        </div>
    </div>
</section>
<section class="shows-section">
    <div
        id="shows"
        class="scroll-mark"
    ></div>
    <div class="max-width-container">
        <h2 class="section-title">Events</h2>
        <div class="shows-calendar-wrap width-85">
            <lo-shows></lo-shows>
        </div>
    </div>
</section>
<section class="signup-section">
    <div class="max-width-container">
        <img
            class="signup-bg"
            src="assets/images/paisley2_yellow.png"
            alt="Lo Paisley"
        >
        <div class="signup-form-wrap width-85">
            <lo-signup-form></lo-signup-form>
        </div>
    </div>
</section>
<lo-social-nav [class.visible]="socialNavVisible"></lo-social-nav>
<ng-container #PopupContainer></ng-container>
