@import '_variables';

:host {
    display: block;
    padding: calc(5rem + 70px) 2rem 5rem 2rem;
    background-image: url(../../../assets/images/paisley4-trans.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    min-height: 100vh;
}

div.album-cover-wrap,
div.album-info {
    flex: 1;
}

div.album-wrap {
    display: flex;
    background-color: rgba(#fff, 0.9);
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
    >span {
        display: inline-block;
    }
}
.album-cover-wrap {
    margin-right: 3rem;
}
img.album-cover-img {
    width: 100%;
}
span.album-title {
    display: inline-block;
    font-size: 1.5rem;
}
span.track-title {
    display: block;
    line-height: 2rem;
}
a.album-link {
    margin-right: 0.5rem;
    fa-icon {
        color: $teal;
        font-size: 2rem;
        transition: color 0.2s ease;
    }
    &:hover>fa-icon {
        color: darken($teal, 10%);
    }
}
@media only screen and (max-width: 812px) {
    :host {
        background-size: cover;
    }
}
@media only screen and (max-width: 560px) {
    div.album-wrap {
        flex-direction: column;
    }
    .album-cover-wrap {
        margin-right: 0;
        margin-top: 2rem;
        order: 2;
    }
}
