<div class="calendar-wrap">
    <div
        *ngIf="loading$ | async"
        class="spinner-wrap"
    >
        <lo-spinner></lo-spinner>
    </div>
    <h4
        *ngIf="noEvents$ | async"
        class="no-events-title"
    >
        No Upcoming Events
    </h4>
    <div
        *ngFor="let event of (events$ | async)"
        class="event-wrap"
    >
        <span class="event-info-wrap">
            <span class="event-date">{{event.date}}</span>
            <span class="event-venue">{{event.venue}}</span>
            <span class="event-city">{{event.city}}</span>
        </span>
        <button
            class="lo-btn-sm"
            (click)="infoClick.emit(true)"
        >
            Tickets/Info
        </button>
    </div>
    <div class="event-all-btn-wrap">
        <button class="lo-btn lo-btn-disabled">More Dates</button>
    </div>
</div>
