<nav>
    <a
        [routerLink]="'/'"
        class="flex-inline flex-center"
    >
        <fa-icon [icon]="'microphone-alt'"></fa-icon>
    </a>
    <a
        [routerLink]="'/'"
        class="flex-inline flex-center"
    >
        <fa-icon [icon]="'camera-retro'"></fa-icon>
    </a>
    <a
        [routerLink]="'/'"
        class="flex-inline flex-center"
    >
        <fa-icon [icon]="'video'"></fa-icon>
    </a>
    <a
        [routerLink]="'/'"
        class="flex-inline flex-center"
    >
        <fa-icon [icon]="'book-dead'"></fa-icon>
    </a>
    <a
        [routerLink]="'/'"
        class="flex-inline flex-center"
    >
        <fa-icon [icon]="'tshirt'"></fa-icon>
    </a>
    <a
        [routerLink]="'/'"
        class="flex-inline flex-center"
    >
        <fa-icon [icon]="'mobile-alt'"></fa-icon>
    </a>
</nav>
