<header
    class="header"
    [class.header-solid]="headerSolid$ | async"
>
    <a
        class="header-logo-link"
        [routerLink]="'/'"
    >
        Lo Wolf
    </a>
    <nav class="header-nav">
        <a
            class="header-nav-link"
            [routerLink]="'/'"
            [fragment]="'videos'"
            [state]="{smooth: false}"
        >
            Videos
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
            [fragment]="'music'"
        >
            Music
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
            [fragment]="'shows'"
        >
            Shows
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/about'"
        >
            About
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/contact'"
        >
            Contact
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
    </nav>
</header>
