<header
    class="header"
    [class.header-solid]="headerSolid$ | async"
>
    <div
        class="mobile-nav-clickout"
        [class.open]="mobileNavOpen"
        [class.fade-in]="mobileNavOpen"
        (click)="mobileNavOpen = false"
    ></div>
    <a
        class="header-logo-link"
        [routerLink]="'/'"
    >
        Lo Wolf
    </a>
    <span
        class="mobile-nav-trigger"
        (click)="mobileNavOpen = true"
    >
        <fa-icon [icon]="'bars'"></fa-icon>
    </span>
    <nav
        class="header-nav"
        [class.open]="mobileNavOpen"
    >
        <span class="header-nav-parent">
            <fa-icon
                class="angle-down"
                [icon]="'angle-down'"
            ></fa-icon>
            <span class="angle-left-wrap">
                <fa-icon [icon]="'angle-left'"></fa-icon>
            </span>
            Media
            <div class="header-sub-menu">
                <a
                    class="header-nav-link"
                    [routerLink]="'/'"
                    [fragment]="'videos'"
                    [state]="{smooth: false}"
                    (click)="mobileNavOpen = false"
                >
                    Videos
                </a>
                <a
                    class="header-nav-link"
                    [routerLink]="'/photos'"
                    (click)="mobileNavOpen = false"
                >
                    Photos
                </a>
            </div>
        </span>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
            [fragment]="'music'"
            (click)="mobileNavOpen = false"
        >
            Music
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
            [fragment]="'shows'"
            (click)="mobileNavOpen = false"
        >
            Events
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/about'"
            (click)="mobileNavOpen = false"
        >
            About
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/contact'"
            (click)="mobileNavOpen = false"
        >
            Contact
        </a>
        <a
            class="header-nav-link header-social-link"
            [routerLink]="'/'"
            (click)="mobileNavOpen = false"
        >
            <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a
            class="header-nav-link header-social-link"
            [routerLink]="'/'"
            (click)="mobileNavOpen = false"
        >
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a
            class="header-nav-link header-social-link"
            [routerLink]="'/'"
            (click)="mobileNavOpen = false"
        >
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
    </nav>
</header>
