<header class="header">
    <a
        class="header-logo-link"
        [routerLink]="'/'"
    >
        Lo Wolf
    </a>
    <nav class="header-nav">
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            Shows
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            Music
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            Videos
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            About
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            Contact
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a
            class="header-nav-link"
            [routerLink]="'/'"
        >
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
    </nav>
</header>
