@import '_variables';

:host {
    display: block;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100px;
    left: 0;
    right: 0;
    padding: 0 0.5rem;
    z-index: 900;
    transition: all 0.6s ease;
    &.header-solid {
        background-color: $beige;
        height: 70px;
        >a.header-logo-link {
            visibility: visible;
            opacity: 1;
        }
    }
}
a.header-logo-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s ease;
    font-family: $font-secondary;
    font-size: 2.5rem;
}
nav.header-nav,
a.header-nav-link,
a.header-logo-link {
    display: flex;
}
a.header-nav-link,
a.header-logo-link {
    align-items: center;
    padding: 0 1rem;
    transition: all 0.2s ease;
    >fa-icon {
        transition: all 0.2s ease;
        font-size: 1.3rem;
        color: $pink;
    }
}
a.header-nav-link {
    margin: 0 0.25rem;
    &:hover {
        color: lighten($dark, 15%);
        >fa-icon {
            color: lighten($pink, 10%);
        }
    }
}
a.header-social-link {
    padding: 0 0.5rem;
}
span.mobile-nav-trigger {
    display: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
    >fa-icon {
        transition: color 0.2s ease;
    }
    &:hover>fa-icon {
        color: lighten($dark, 15%);
    }
}
div.mobile-nav-clickout {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($dark, .5);
    z-index: 899;
    &.open {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 1024px) {
    nav.header-nav {
        flex-direction: column;
        position: fixed;
        transform: translateX(102%);
        transition: transform 0.3s linear;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $beige;
        width: 300px;
        padding: 2rem 0rem;
        box-shadow: $box-shadow-left;
        z-index: 2001;
        &.open {
            transform: translateX(0);
        }
    }
    span.mobile-nav-trigger {
        display: inline-block;
    }
    a.header-nav-link {
        font-size: 1.2rem;
        padding: 1rem;
        &:hover {
            background-color: darken($beige, 2%);
        }
    }
    a.header-social-link {
        display: none;
    }
}


