@import 'variables';
:host {
    display: inline-block;
    position: relative;
    width: 100%;
    >img {
        width: 100%;
    }
}
div.img-placeholder {
    background-color: $light;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.square-gallery-img {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &.ready {
        display: block;
    }
}
