@import '_variables';
:host {
    display: block;
    padding: calc(70px + 4rem) 5rem 4rem 5rem;
    position: relative;
    background-image: url(../../../assets/images/lo-paisley-2.png);
    background-attachment: fixed;
    background-size: cover;
}
div.contact-page-wrap {
    width: 60%;
    position: relative;
    z-index: 700;
}
section.contact-info-section {
    margin: 1rem 0;
    background-color: rgba($brown, 0.75);
    padding: 1rem;
    border: 10px solid $light;
    >p {
        line-height: 2.75rem;
        display: flex;
        align-items: center;
        color: $light;
        font-size: 1.2rem;
        >fa-icon {
            font-size: 1.75rem;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}
button.submit-btn {
    margin-top: 0.5rem;
}
// span.contact-img-wrap {
//     display: inline-block;
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     z-index: 100;
//     min-width: 500px;
//     min-height: 800px;
// }
// img.contact-img {
//     height: 100%;
// }
img.contact-paisley {
    position: absolute;
    width: 600px;
    top: 70px;
    left: 0;
    opacity: 0.2;
}
