:host {
    display: block;
    padding: calc(70px + 4rem) 0 4rem 0;
    position: relative;
}
div.contact-page-wrap {
    width: 85%;
    position: relative;
    z-index: 700;
}
section.contact-info-section {
    margin: 1rem 0;
    >p {
        line-height: 2.2rem;
        display: flex;
        align-items: center;
        >fa-icon {
            font-size: 1.75rem;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}
.contact-form {
    width: 65%;
}
button.submit-btn {
    margin-top: 0.5rem;
}
span.contact-img-wrap {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    z-index: 100;
    min-width: 500px;
}
img.contact-img {
    width: 100%;
}
