<div class="contact-page-wrap">
    <h3>Contact</h3>
    <section class="contact-info-section">
        <p class="contact-email">lowolfmusic@gmail.com</p>
        <p class="contact-phone">(203) 640-8568</p>
        <p>
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            @lowolfmusic
        </p>
        <p>
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            @lowolfmusic
        </p>
    </section>
    <section class="contact-form-section">
        <div class="signup-form-wrap">
            <lo-contact-form
                [includeMessage]="true"
                [centerBtn]="true"
                [useLabels]="true"
            ></lo-contact-form>
        </div>
    </section>
</div>
<div class="page-bg-fixed"></div>
