@import 'variables';
:host {
    display: inline-flex;
    flex-direction: column;
    background: $dark;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    z-index: 901;
    width: 75px;
    padding: 1rem 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: $box-shadow;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translate(-100%, -50%);
    &.visible {
        opacity: 1;
        transform: translate(0, -50%);
    }
}
a {
    transition: all 0.2s ease;
    display: inline-block;
    font-size: 1.5rem;
    color: $light;
    padding: 0.25rem 0;
    fa-icon {
        color: inherit;
    }
    &:hover {
        transform: scale(1.3);
    }
}
@media only screen and (max-width: 560px) {
    :host {
        flex-direction: row;
        width: auto;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        padding: 1rem;
        &.visible {
            transform: translateX(-50%);
        }
    }
    a {
        padding: 0 0.5rem;
    }
}
