<a href="https://www.facebook.com/lowolfmusic/">
    <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
</a>
<a href="https://www.instagram.com/lowolfmusic/">
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
</a>
<a [routerLink]="'/'">
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
</a>
<a [routerLink]="'/'">
    <fa-icon [icon]="['fab', 'spotify']"></fa-icon>
</a>
<a href="https://lowolf.bandcamp.com/">
    <fa-icon [icon]="['fab', 'bandcamp']"></fa-icon>
</a>
<a [routerLink]="'/'">
    <fa-icon [icon]="['fab', 'itunes']"></fa-icon>
</a>
