<a
    [routerLink]="'/'"
    class="flex-inline flex-center"
>
    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
</a>
<a
    [routerLink]="'/'"
    class="flex-inline flex-center"
>
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
</a>
<a
    [routerLink]="'/'"
    class="flex-inline flex-center"
>
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
</a>
<a
    [routerLink]="'/'"
    class="flex-inline flex-center"
>
    <fa-icon [icon]="['fab', 'spotify']"></fa-icon>
</a>
<a
    [routerLink]="'/'"
    class="flex-inline flex-center"
>
    <fa-icon [icon]="['fab', 'itunes']"></fa-icon>
</a>
<a
    [routerLink]="'/'"
    class="flex-inline flex-center"
>
    <fa-icon [icon]="['fab', 'bandcamp']"></fa-icon>
</a>
