<h4 class="page-title">Music</h4>
<div class="albums-container">
    <div class="album-wrap">
        <span class="album-cover-wrap">
            <img
                class="album-cover-img"
                src="assets/images/new-cover.jpeg"
                alt="New Album"
            >
        </span>
        <span class="album-info lo-card">
            <span class="album-title">
                Singe
                <em>(2020)</em>
            </span>
            <div class="album-links-container">
                <a
                    class="album-link"
                    href="#"
                >
                    <fa-icon [icon]="['fab', 'spotify']"></fa-icon>
                </a>
                <a
                    class="album-link"
                    href="#"
                >
                    <fa-icon [icon]="['fab', 'bandcamp']"></fa-icon>
                </a>
                <a
                    class="album-link"
                    href="#"
                >
                    <fa-icon [icon]="['fab', 'itunes']"></fa-icon>
                </a>
            </div>
            <div class="tracklist">
                <span class="track-title">01. Kill No More</span>
                <span class="track-title">02. Plug in the Iron</span>
                <span class="track-title">03. Dog 1</span>
                <span class="track-title">04. Gone are the Days</span>
            </div>
            <button class="lo-btn-sm">Buy/Listen</button>
        </span>
    </div>
    <div class="album-wrap">
        <span class="album-cover-wrap">
            <img
                class="album-cover-img"
                src="assets/images/country-pop-hit-cover.png"
                alt="Country Pop Hit EP"
            >
        </span>
        <div class="album-info lo-card">
            <span class="album-title">
                Country Pop Hit EP
                <em>(2017)</em>
            </span>
            <div class="album-links-container">
                <a
                    class="album-link"
                    href="#"
                >
                    <fa-icon [icon]="['fab', 'spotify']"></fa-icon>
                </a>
                <a
                    class="album-link"
                    href="#"
                >
                    <fa-icon [icon]="['fab', 'bandcamp']"></fa-icon>
                </a>
                <a
                    class="album-link"
                    href="#"
                >
                    <fa-icon [icon]="['fab', 'itunes']"></fa-icon>
                </a>
            </div>
            <div class="tracklist">
                <span class="track-title">01. Kill No More</span>
                <span class="track-title">02. Plug in the Iron</span>
                <span class="track-title">03. Dog 1</span>
                <span class="track-title">04. Gone are the Days</span>
            </div>
            <button class="lo-btn-sm">Buy/Listen</button>
        </div>
    </div>
</div>
