<div class="signup-form">
    <h4>Join the Wolf Pack</h4>
    <p class=blurb>
        Stay up to date with upcoming shows, new music and the latest news from Lo Wolf.
    </p>
    <input
        type="text"
        placeholder="Name"
        [(ngModel)]="name"
    >
    <input
        type="text"
        placeholder="Email Address"
        [(ngModel)]="email"
    >
    <div
        *ngIf="invalid$ | async"
        class="msg-wrap error-wrap"
    >
        *Missing required fields
    </div>
    <div
        *ngIf="loading$ | async"
        class="msg-wrap"
    >
        <lo-spinner></lo-spinner>
    </div>
    <div
        *ngIf="success$ | async"
        class="msg-wrap success-wrap"
    >
        Thank You!
    </div>
    <div
        *ngIf="error$ | async"
        class="msg-wrap error-wrap"
    >
        Unexpected Error. Please try again later!
    </div>
    <button
        class="lo-btn-outline submit-btn"
        (click)="signup()"
    >
        Submit
    </button>
</div>
