<section class="landing-section">
    <div class="landing-wrap-inner">
        <div class="landing-intro">
            <div class="landing-cta">
                <h1 class="landing-title">Lo Wolf</h1>
                <h3 class="landing-album-name">Country Pop Hit EP Available Now</h3>
                <button class="lo-btn-outline">Buy/Listen</button>
            </div>
        </div>
    </div>
    <div class="landing-bg-wrap">
        <img
            class="landing-bg"
            src="assets/images/lo_paisley.png"
            alt="Lo Paisley"
        >
    </div>
</section>
<section class="videos-section">
    <lo-video-slider [slides]="iframeSrcs"></lo-video-slider>
</section>
