@import '_variables';

button,
a.ada-btn {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    margin-top: 1rem;
    text-decoration: none;
    background: none;
    background-color: $teal;
    border-radius: 3px;
    color: $light;
    font-family: $font-primary;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    // transition: background 250ms ease-in-out,
    //             transform 150ms ease,
    //             border-color 250ms ease-in-out;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    >a {
        color: inherit;
    }
}

button.lo-btn-sm,
a.lo-btn-sm {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

button.lo-btn-outline,
a.lo-btn-outline {
    border: 2px solid $dark;
    background-color: rgba(0,0,0,0);
    color: $dark;
    &:hover,
    &:focus {
        background: $white;
        border-color: rgba($dark, 0);
        box-shadow: $box-shadow;
    }
}

button.lo-btn-brown,
a.lo-btn-brown {
    background-color: $brown;
    color: $light;
}

 button.lo-btn-full-width,
 a.lo-btn-full-width {
    width: 100%;
 }

button:hover,
button:focus,
a.ada-btn:hover,
a.ada-btn:focus {
    background-color: lighten($teal, 5%);
    box-shadow: $box-shadow;
}

button:active,
a.ada-btn:active {
    transform: scale(0.95);
}
