@import '_variables';

button,
a.lo-btn {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0rem 2rem;
    height: 2.5rem;
    margin: 0;
    text-decoration: none;
    background: none;
    border-radius: 3px;
    font-family: $font-primary;
    font-size: 1.2rem;
    border: 3px solid #000;
    background-color: rgba(0,0,0,0);
    color: #000;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    >a {
        color: inherit;
    }
}

button.lo-btn-full-width,
a.lo-btn-full-width {
  width: 100%;
}

button:hover,
button:focus,
a.lo-btn:hover,
a.lo-btn:focus {
    background-color: #fff;
    border-color: #fff;
    box-shadow: $box-shadow;
}
