@import '_variables';

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    margin-top: 2rem;
    text-decoration: none;
    background: none;
    background-color: $teal;
    border-radius: 3px;
    color: $light;
    font-family: $font-primary;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease,
                border-color 250ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.lo-btn-sm {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}

button.lo-btn-outline {
    border: 2px solid $dark;
    background-color: rgba(0,0,0,0);
    color: $dark;
    &:hover,
    &:focus {
        background: $white;
        border-color: rgba($dark, 0);
    }
}

 button.lo-btn-full-width {
    width: 100%;
 }

button:hover,
button:focus {
    background-color: $pink;
}

button:active {
    transform: scale(0.95);
}
