.slider-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
}
.slide-in-left {
    animation: slideInLeft 700ms linear;
    z-index: 601;
}
.slide-in-right {
    animation: slideInRight 700ms linear;
    z-index: 601;
}
@keyframes slideInLeft {
  0% {
     transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
     transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}
