<div class="signup-form">
    <h4 *ngIf="title">{{title}}</h4>
    <p
        *ngIf="blurb"
        class="blurb"
    >
        {{blurb}}
    </p>
    <label
        *ngIf="useLabels"
        for="name"
    >
        Name
    </label>
    <input
        id="name"
        type="text"
        [attr.placeholder]="!useLabels ? 'Name' : ''"
        [(ngModel)]="name"
    >
    <label
        *ngIf="useLabels"
        for="email"
    >
        Email
    </label>
    <input
        id="email"
        type="text"
        [attr.placeholder]="!useLabels ? 'Email Address' : ''"
        [(ngModel)]="email"
    >
    <label
        *ngIf="useLabels"
        for="message"
    >
        Message
    </label>
    <textarea
        *ngIf="includeMessage"
        id="message"
        [attr.placeholder]="!useLabels ? 'Message' : ''"
        name="message"
        cols="30"
        rows="10"
        [(ngModel)]="message"
    ></textarea>
    <div
        *ngIf="invalid$ | async"
        class="msg-wrap error-wrap"
    >
        *Missing required fields
    </div>
    <div
        *ngIf="loading$ | async"
        class="msg-wrap"
    >
        <lo-spinner></lo-spinner>
    </div>
    <div
        *ngIf="success$ | async"
        class="msg-wrap success-wrap"
    >
        Thank You!
    </div>
    <div
        *ngIf="error$ | async"
        class="msg-wrap error-wrap"
    >
        Unexpected Error. Please try again later!
    </div>
    <div
        class="submit-btn-wrap"
        [class.btn-center]="centerBtn"
    >
        <button
            class="submit-btn"
            [class.lo-btn-outline]="outlineBtn"
            (click)="submit()"
        >
            Submit
        </button>
    </div>
</div>
