@import '_variables';
:host {
    display: block;
    input, textarea {
        border-radius: 3px;
    }
    label {
        color: #fff;
    }
}
div.error-wrap {
    color: $red;
}
div.msg-wrap {
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
div.btn-center {
    text-align: center;
}
