@import '_variables';
:host {
    display: block;
    position: relative;
}
.video-wrap {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    border: 20px solid $beige;
    transition: all 0.2s ease;
}
.slider-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    background-color: $dark;
    transform: translateY(-50%);
    display: inline-block;
    padding: 0 1rem;
    transition: all 0.2s ease;
    opacity: 0.3;
    cursor: pointer;
    z-index: 700;
    >fa-icon {
        color: $light;
    }
    &.left {
        left: 0px;
    }
    &.right {
        right: 0px;
    }
    &:hover {
        opacity: 0.75
    }
    &:active {
        transform: translateY(-50%) scale(0.95);
    }
}

@media only screen and (max-width: 560px) {
    .video-wrap {
        border: 10px solid $beige;
    }
    .slider-arrow {
        font-size: 2rem;
    }
}
