<div class="video-wrap">
    <video
        #Video
        *ngIf="autoplay"
        [attr.src]="safeSrc"
        [attr.poster]="poster"
        autoplay
    ></video>
    <video
        #Video
        *ngIf="!autoplay"
        [attr.src]="safeSrc"
        [attr.poster]="poster"
        (click)="togglePlay()"
    ></video>
    <!-- <iframe
        [attr.src]="safeSrc"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe> -->
    <fa-icon
        *ngIf="!videoPlaying"
        [icon]="'play'"
    ></fa-icon>
</div>
