<div
    class="video-wrap"
    [class.bordered]="useBorder"
>
    <video
        #Video
        *ngIf="autoplay && useIframe"
        [attr.src]="safeSrc"
        [attr.poster]="poster"
        autoplay
    ></video>
    <video
        #Video
        *ngIf="!autoplay && !useIframe"
        [attr.src]="safeSrc"
        [attr.poster]="poster"
        (click)="togglePlay()"
    ></video>
    <iframe
        *ngIf="useIframe"
        [attr.src]="safeSrc"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
    <fa-icon
        *ngIf="!videoPlaying && !useIframe"
        [icon]="'play'"
    ></fa-icon>
</div>
