<div class="album-wrap">
    <img
        class="album-cover"
        src="assets/images/singe-cover.jpg"
        alt="Singe Album Cover"
    >
    <span class="album-details">
        <h3>Singe</h3>
        <p class='tagline'>New Album Available 2020</p>
        <a
            href="https://lowolf.bandcamp.com/"
            class="lo-btn lo-btn-responsive"
        >
            Buy/Listen
        </a>
    </span>
</div>
<h4
    class="continue color-light"
    (click)="close()"
>
    Continue to Site
</h4>
