<div class="popup-content-wrap">
    <div class="popup-content-inner">
        <div class="album-cover-wrap">
            <img
                class="album-cover"
                src="assets/images/lo-print.jpg"
                alt="Singe Album Cover"
            >
        </div>
        <div class="buy-link-wrap">
            <a
                href="https://lowolf.bandcamp.com/"
                class="lo-btn lo-btn-sm"
            >
                Buy New Album Now
            </a>
        </div>
        <h4
            class="continue color-light"
            (click)="close()"
        >
            Continue to Site
        </h4>
    </div>
</div>
