.fade-in {
    opacity: 0;
    animation: fadeIn 1s linear forwards;
}

.fade-in-delay {
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-in-down {
    opacity: 0;
    animation: fadeInDown 0.5s linear forwards;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-30%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

.slide-in-right {
    animation: slideInRight 500ms linear;
}

@keyframes slideInRight {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.slide-out-right {
    animation: slideOutRight 500ms linear;
}

@keyframes slideOutRight {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      transform: translateX(100%);
  }
}

.slide-in-up {
    animation: slideInUp 500ms linear;
}

@keyframes slideInUp {
  0% {
      opacity: 1;
      transform: translateY(50%);
  }
  100% {
      opacity: 0;
      transform: translatey(0%);
  }
}
