.fade-in {
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.slide-in-right {
    animation: slideInRight 500ms linear;
}

@keyframes slideInRight {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.slide-out-right {
    animation: slideOutRight 500ms linear;
}

@keyframes slideOutRight {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      transform: translateX(100%);
  }
}
