$light: #f2f2f2;
$primary: #99FEFF;
$primary-dark: darken($primary, 50%);
$accent: #FF0D88;
$blue: #AEDCF3;
$dark: darken(#2C2B37, 8%);
$royal: #144593;
// $pink: #F4989D;
$pink: #E7D0C5;
$dark-pink: darken($pink, 50%);
$light-gray: darken(#fff, 5%);
$gray: darken(#fff, 50%);
