$dark: #444444;
$light: #f2f2f2;
$white: #ffffff;
$beige: #FDF5E6;
$blue: #A9C5E8;
$pink: #ebabbe;
$red: #aa5260;
$teal: #879d9a;
$dark-blue: #011627;
$purple: #4e2977;
$red1: #8F2E42;
$brown: #251115;
