@import 'colors';

$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-left: -5px 0px 10px -1px rgba(0,0,0,0.25);

.lo-card {
    background-color: $white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    padding: 2rem;
    flex: 1;
    width: 100%;
}

.lo-box-shadow {
    box-shadow: $box-shadow;
}

