@import 'colors';

$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-left: -5px 0px 10px -1px rgba(0,0,0,0.25);

.lo-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: $box-shadow;
    padding: 2rem;
    flex: 1;
    width: 100%;
}

.box-shadow {
    box-shadow: $box-shadow;
}

.bg-primary {
    background-color: $primary;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

div.flex-container-75 {
    display: flex;

    >div:first-child {
        flex: 0.25;
    }
    >div:last-child {
        flex: 1;
    }
}

.flex-1 {
    flex: 1;
}

.flex-inline {
    display: flex;
    flex-wrap: wrap;
}

.text-align-center {
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($dark, 0.9);
    z-index: 1000;
}
