@import '_variables';
@import '_reset';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
input,
textarea,
label,
div {
    font-family: $font-primary;
    color: $dark;
}

a {
    text-decoration: none;
    display: inline-block;
}
