@import '_variables';
@import '_reset';
@import './widgets/widgets.scss';
@import '_animations.scss';

* {
    box-sizing: border-box;
}

// html.smooth-scroll {
//     scroll-behavior: smooth;
//     -webkit-overflow-scrolling: touch;
// }

app-root {
    display: block;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
input,
textarea,
label,
em,
strong,
div {
    font-family: $font-primary;
    color: $dark;
}

a {
    text-decoration: none;
    display: inline-block;
    &:focus,
    &:active {
        outline: none;
    }
}

img {
    display: inline-block;
}

h1 {
    font-size: 4.7rem;
    font-weight: 100;
}

h2 {
    font-size: 2.5rem;
}

h2.section-title {
    font-family: $font-secondary;
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.2rem;
}

em {
    font-style: italic;
    color: inherit;
}

strong {
    font-weight: 900;
    color: inherit;
}

input[type=text],
input[type=email],
textarea {
    border: none;
    background-color: $light;
    color: $dark;
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    resize: none;
    &:focus {
        box-shadow: $box-shadow;
    }
}

.color-light {
    color: $light;
}

.scroll-mark {
    position: absolute;
    top: -70px;
}
