@import '_variables';
@import '_reset';
@import './widgets/widgets.scss';
@import '_animations.scss';

html,
body {
    overflow-x: hidden;
}
html.no-scroll {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

app-root {
    display: block;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
input,
textarea,
label,
em,
strong,
div {
    font-family: $font-primary;
    color: $dark;
    transition: font-size 0.2s ease;
}

a {
    text-decoration: none;
    display: inline-block;
    &:focus,
    &:active {
        outline: none;
    }
}

img {
    display: inline-block;
}

h1 {
    font-size: 6.7rem;
    font-weight: 100;
    font-family: $font-secondary;
}

h2 {
    font-size: 2.5rem;
}

h2.section-title {
    font-family: $font-secondary;
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

em {
    font-style: italic;
    color: inherit;
}

strong {
    font-weight: 900;
    color: inherit;
}

input[type=text],
input[type=email],
textarea {
    border: none;
    background-color: $light;
    color: $dark;
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    resize: none;
    &:focus {
        box-shadow: $box-shadow;
    }
}

.color-light {
    color: $light;
}

.scroll-mark {
    position: absolute;
    top: -70px;
}
fa-icon {
    color: $dark;
}
*.page-bg-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
