@import '_variables';

:host {
    display: block;
}
h4.no-shows-title,
.spinner-wrap {
    color: $white;
    text-align: center;
    padding: 4rem 0;
}
.show-wrap {
    // border-bottom: 1px solid $light;
    border-bottom: 1px solid $dark;
    display: flex;
    align-items: center;
    >button {
        margin-top: 0;
    }
}
a.show-info-tag {
    padding: 1.5rem 0;
    flex: 1;
}
span.show-info-wrap {
    transition: transform 0.2s linear;
    display: inline-flex;
    flex-direction: column;
}
.show-date {
    font-size: 2.5rem;
    font-family: $font-secondary;
}
.show-venue {
    font-size: 1.5rem;
}
div.show-all-btn-wrap {
    text-align: center;
}

