<section class="intro-section section-container">
    <div class="title-section ">
        <div class="title-img-wrap">
            <div class="title-img-bg"></div>
            <img
                class="lowolf"
                src="assets/images/lowolf.svg"
                alt="Lo Wolf"
            >
        </div>
        <h1 class="title">Blog</h1>
    </div>
    <div></div>
</section>
<section class="bg-dark blog-section max-width box-shadow">
    <div
        *ngIf="loading$ | async"
        class="spinner-wrap"
    >
        <lo-spinner></lo-spinner>
    </div>
    <div
        *ngIf="!(loading$ | async) && (error$ | async)"
        class="error-wrap"
    >
        <h4>
            There was a problem loading blog posts...
        </h4>
    </div>
    <div
        *ngIf="!(loading$ | async) && !(error$ | async)"
        class="section-container"
    >
        <div></div>
        <div
            *ngIf="!(loading$ | async) && !(error$ | async)"
            class="posts-container"
        >
            <div
                *ngFor="let post of (posts$ | async)"
                class="post-wrap"
            >
                <h2>{{post.title}}</h2>
                <p class="post-details">
                    {{post.date | date}} | {{post.commentCount}} comments
                </p>
                <p class="margin-1 snippet">{{post.snippet}}...</p>
                <a
                    class="lo-btn"
                    [routerLink]="'/blog/' + post._id"
                >
                    Go to Post
                    <fa-icon
                        class="slide-in-right"
                        [icon]="'chevron-right'"
                    ></fa-icon>
                </a>
                <div class="divider"></div>
            </div>
            <button>
                Load More
                <fa-icon
                    class="slide-in-right"
                    [icon]="'chevron-right'"
                ></fa-icon>
            </button>
        </div>
    </div>
</section>
