@import '_variables';

:host {
    display: block;
    width: 100%;
    min-width: 800px;
}

section.blog-section {
    margin-top: 5rem;
}

div.posts-container {
    padding: 2rem;
}

p.post-details {
    font-size: 0.9rem;
    color: $gray;
}
