@import '_variables';

:host {
    display: block;
    width: 100%;
    min-width: 800px;
}

section.intro-section {
    background-image: url(../../../assets/images/lo-eagle.jpg);
    background-size: cover;
    border: 5px solid #fff;
    padding-bottom: 9rem;
}

section.blog-section {
    padding: 6rem 0;
}

div.posts-container {
    padding-right: 2rem;
}

p.post-details {
    font-size: 0.9rem;
    color: $gray;
}

p.snippet {
    color: #fff;
}
