<section class="intro-section section-container">
    <div class="title-section ">
        <div class="title-img-wrap">
            <div class="title-img-bg"></div>
            <img
                class="lowolf"
                src="assets/images/lowolf.svg"
                alt="Lo Wolf"
            >
        </div>
        <h1 class="title">Photos</h1>
    </div>
    <div></div>
</section>
<section class="section-container photos-section">
    <div class="bg-white photos-container">
        <div class="photos-container-inner">
            <div
                *ngIf="loading$ | async"
                class="spinner-wrap"
            >
                <lo-spinner></lo-spinner>
            </div>
            <div
                *ngIf="!(loading$ | async) && (error$ | async)"
                class="error-wrap"
            >
                <h4>There was a problem loading photos...</h4>
            </div>
            <div
                *ngIf="!(loading$ | async) && !(error$ | async)"
                class="photos-grid-wrap"
            >
                <lo-image
                    *ngFor="let url of (urls$ | async)"
                    [src]="url"
                    [isGallery]="true"
                ></lo-image>
            </div>
        </div>
    </div>
</section>
